	FONT-SIZE: 12px; FONT-FAMILY: arial,helvetica,sans-serif

}

DIV {

	FONT-SIZE: 12px; FONT-FAMILY: arial,helvetica,sans-serif

}

TD {

	FONT-SIZE: 12px; FONT-FAMILY: arial,helvetica,sans-serif

}

UL {

	FONT-SIZE: 12px; FONT-FAMILY: arial,helvetica,sans-serif

}

LI {

	FONT-SIZE: 12px; FONT-FAMILY: arial,helvetica,sans-serif

}

A {

	COLOR: #000000

}

A:visited {

	COLOR: #000000

}

A:active {

	COLOR: #3333FF

}

A:hover {

	COLOR: #3333FF

}

.small {

	FONT-SIZE: 10px

}

.small:hover {

	COLOR: #3333FF

}

.nav {

	FONT: bold 10px arial, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none

}

.nav A {

	COLOR: #3333FF; TEXT-DECORATION: none

}

.nav A:link {

	COLOR: #3333FF; TEXT-DECORATION: none

}

.nav A:visited {

	COLOR: #3333FF; TEXT-DECORATION: none

}

.nav A:hover {

	COLOR: #3333FF; TEXT-DECORATION: underline

}

.middlecolumn {

	COLOR: #000000

}

.middlecolumn A {

	COLOR: #000000

}

.middlecolumn A:link {

	COLOR: #000000

}

.middlecolumn A:visited {

	COLOR: #000000

}

.middlecolumn A:hover {

	COLOR: #000000

}

.formfield {

	BACKGROUND-COLOR: #99ccff

}
